
.material-symbols-outlined {
  font-size: 200;
  color: gray;
}

main{
    background-image: url(https://images.unsplash.com/photo-1484766280341-87861644c80d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
}

.bulb{
    background-color: black;
    border-color: black;
    border-radius: 10%;
    margin: 10px;
    box-shadow: ;
}